<form id='add-post' class='well'>
  Add a post!<br>
  <div class="form-group">
    {{input value=content placeholder='What are you thinking?' class='form-control'}}
  </div>
  <button {{action 'savePost'}} class='btn btn-primary'>Post</button>
</form>
