<div class="well">
  <form id='add-post'>
    <div class="form-group">
      {{input value=content placeholder='Quick reference/inspiration' class='form-control'}}
    </div>
    <button {{action 'savePost'}} id="add-post" class='ui button'>Add</button>
  </form>
</div>
