<div class="row comment-tile">
  <div class="col-sm-1">
    {{#link-to 'member-profile' comment.member.id}}<img src={{comment.member.avatar}} onerror="this.src='http://www.pngall.com/wp-content/uploads/2016/05/Branch-Free-Download-PNG.png'"  id="comment-image">{{/link-to}}<br>
    {{#link-to 'member-profile' comment.member.id}}{{comment.member.firstName}}{{/link-to}}
  </div>
  <div class="col-sm-11">
    {{comment.content}}<br>
    <em><small>{{moment-from-now comment.date}}</small></em>
  </div>
</div>
<hr>
