<div>
  <h3>Sign up with GitHub</h3>
  <button {{action "githubSignUp" "github"}}>Sign up with Github</button>
  <hr>
  <h3>Sign up with Email</h3>
  <div class='form-group'>
    <label for='newEmail'>Email:</label>
    {{input id='newEmail' value=newEmail class='form-control'}}
  </div>
  <div class='form-group'>
    <label for='newPassword'>Password:</label>
    {{input type='password' id='newPassword' value=newPassword class='form-control'}}
  </div>
  <button {{action 'emailSignUp'}}>Sign up with Email</button>
</div>
