<div class="container">
  <form id="messageNew" class="form-inline">
    {{input value=messageText rows=3 enter="sendMessage" class="form-control" placeholder="chat!" id="chat-input"}}
    <button class= "ui button tiny" {{action 'sendMessage'}} id="chatButton">Send</button>
  </form>
</div>
