{{#if member.posts}}
  {{#each member.posts as |post|}}
    <div class="well">
      <div>{{post.content}}</div>
      <div><em>{{moment-from-now post.date}}</em></div>
    </div>
  {{/each}}
{{/if}}
