$ocean-green: #4AA772;
$astral-blue: #3688A4;
$texas-rose: #FFAC55;
$white: #FFF;
$black: #000;
$silver: #ccc;

body {
  font-family: 'Ubuntu', sans-serif !important;
  background-image: url('/assets/images/subtle-texture.jpg');
  background-repeat: repeat;
}

h1 {
  margin: 0 !important;
}

h3 {
  font-family: 'Ubuntu', sans-serif !important;
}

h6 {
  cursor: pointer;
}

a {
  color: $ocean-green;
}

a:hover {
  color: $ocean-green;
  text-decoration: underline;
}

.ui.inverted.menu {
  background-color: $ocean-green;
  font-family: 'Ubuntu', sans-serif !important;
  height: 46px;
  border-radius: 0px !important;
}

.ui.button {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: $astral-blue;
  color: $white;
  margin-top: 7px;
  margin-bottom: 7px;
}

.well {
  background-color: $white;
  border: none !important;
  box-shadow: 1.5px 1.5px $silver;
}

.profile-detail img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.sign.out.large.icon {
  cursor: pointer;
}

.item {
  cursor: pointer;
}

.form-buttons {
  text-align: right;
  padding: 7px !important;
}

.jumbotron {
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.spacer {
  height: 200px;
}

#update-form {
  display: block;
  margin: auto 15%;
}

#sign-in-nav {
  margin-left: auto;
  margin-right: 0;
}

#add-post {
  margin: auto !important;
  text-align: right;
}

#delete-account {
  color: $texas-rose;
}

#update-button {
  color: $astral-blue;
  background-color: transparent;
  border: 1px solid $astral-blue;
}

#header {
  background-color: $ocean-green;
  margin-bottom: -60px;
}

#logo {
  margin-left: 100px;
  margin-bottom: 0;
}

#triangle{
  margin-left: 100px;
  margin-top: -23px !important;
}

#member-avatar {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin: 0 auto;
}

#account-options {
  text-align: center;
  margin: 10px;
}

#update-form {
  margin-top: 10px;
}

#editInfoModal {
  margin-top: 10%;
}

#close-button {
  background-color: transparent;
  color: $astral-blue;
  border: 1px solid $astral-blue;
}

#thinking {
  width: 100px;
}

#collaboration {
  margin: 15px;
}

#sign-up-form {
  padding: 10px;
  margin-top: 60%;
}

#sign-up-link {
  cursor: pointer;
}

#sign-in-form {
  padding: 10px;
  margin-top: 60%;
}

#sign-in-link {
  cursor: pointer;
}

/* ------ chatroom ----- */

#chatDisplay {
  height: 200px;
  overflow: scroll;
}

#chatDisplay em {
  color: $astral-blue;
}

#chatDisplay strong {
  font-weight: bolder;
}

#chat-input {
  width: 60%;
}

#searchName {
  width: 40%;
}

span.group-description {
  font-size: 15px;
  padding-left: 10px;
  font-style: italic;
  font-weight: lighter;
}

// .chatroom-well {
//   border-top: 30px $astral-blue solid!important;
// }

.trash {
  color: $texas-rose;
  padding-left: 6px;
}

.trash:hover {
  cursor: pointer;
  font-size: 18px;
}

#chat-top-bar {
  height: 40px;
  background-color: $astral-blue;
  margin: -19px -19px 19px -19px;
  color: #f2f2f2;
}

#chat-top-bar p {
  padding-top: 12px;
  padding-left: 12px;
  letter-spacing: 0.5px;
}
