$ocean-green: #4AA772;
$astral-blue: #3688A4;
$texas-rose: #FFAC55;
$white: #FFF;
$silver: #ccc;
$black: #000;

body {
  font-family: 'Ubuntu', sans-serif !important;
  background-image: url('/assets/images/subtle-texture.jpg');
  background-repeat: repeat;
}

h1 {
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif !important;
}

h6 {
  cursor: pointer;
}

a {
  color: $ocean-green;
}

a:hover {
  color: $ocean-green;
  text-decoration: underline;
}

.ui.inverted.menu {
  background-color: $ocean-green;
  font-family: 'Ubuntu', sans-serif !important;
  height: 46px;
  border-radius: 0px !important;
}

.ui.button {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: $astral-blue;
  color: $white;
  margin-top: 7px;
  margin-bottom: 7px;
}

.well {
  background-color: $white;
  border: none !important;
  box-shadow: 1.5px 1.5px $silver;
}

.sign.out.large.icon {
  cursor: pointer;
}

.item {
  cursor: pointer;
}

.form-buttons {
  text-align: right;
  padding: 7px !important;
}

.jumbotron {
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
}

.edit-options {
  float: right;
}

.connection-display {
  li {
    list-style-type: none;
    margin-bottom: 5px;
  }

  i {
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
    }
  }

  .remove-connection {
    color: $texas-rose;
  }

  .add-connection {
    color: $ocean-green;
  }

  .pending-connection {
    color: $astral-blue;
  }
}

#add-user-to-group{
  color: $ocean-green;
  margin-left: 5px;
}

#profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

#friend-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

#update-form {
  display: block;
  margin: auto 15%;
}

#sign-in-nav {
  margin-left: auto;
  margin-right: 0;
}

#add-post {
  margin: auto !important;
  text-align: right;
}

#update-post-form,
  #update-comment-form  {
  padding-top: 20px;
}

#delete-account {
  color: $texas-rose;
}

#update-button {
  color: $astral-blue;
  background-color: transparent;
  border: 1px solid $astral-blue;
}

#header {
  background-color: $ocean-green;
  margin-bottom: -60px;
}

#logo {
  margin-left: 100px;
  margin-bottom: 0;
}

#triangle{
  margin-left: 100px;
  margin-top: -23px !important;
}

#member-avatar {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin: 0 auto;
}

#account-options {
  text-align: center;
  margin: 10px;
}

#update-form {
  margin-top: 10px;
}

#editInfoModal {
  margin-top: 10%;
}

#close-button {
  background-color: transparent;
  color: $astral-blue;
  border: 1px solid $astral-blue;
}

#collaboration {
  margin: 15px;
}

#sign-up-form {
  padding: 10px;
  margin-top: 60%;
}

#sign-up-link {
  cursor: pointer;
}

#sign-in-form {
  padding: 10px;
  margin-top: 60%;
}

#sign-in-link {
  cursor: pointer;
}

#comment-image {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

#post-image {
  height: 70px;
  width: auto;
  border-radius: 50%;
  margin-right: 5px;
}

#delete-post-icon,
  #delete-comment-icon  {
  color: $texas-rose;
  cursor: pointer;
}

 #update-post-icon,
  #update-comment-icon {
   color: $ocean-green;
   cursor: pointer;
 }

 #post-content {
   margin-bottom: 0 !important;
 }

/* ------ chatroom ----- */

span.group-description {
  font-size: 15px;
  padding-left: 10px;
  font-style: italic;
  font-weight: lighter;
}

.remove {
  color: $texas-rose;
}

.trash:hover {
  cursor: pointer;
  font-size: 18px;
}

#chat-top-bar {
  height: 40px;
  background-color: $astral-blue;
  margin: -19px -19px 19px -19px;
  color: #f2f2f2;
}

#chat-top-bar p {
  padding-top: 12px;
  padding-left: 12px;
  letter-spacing: 0.5px;
}

#current-members {
  list-style: none;
}

#found-member {
  list-style: none;
}

#chatDisplay {
  height: 200px;
  overflow: scroll;
}

#chatDisplay em {
  color: $astral-blue;
}

#chatDisplay strong {
  font-weight: bolder;
}

#chat-input {
  width: 60%;
}

#searchName {
  width: 40%;
}
