<header id="header">
  {{#link-to 'members'}}<img id="logo" src="/assets/images/logo-blue.png">{{/link-to}}
</header>

<!-- if logged in -->
{{#if session.isAuthenticated}}
  <div class="ui inverted menu">
    <div id="sign-in-nav" class="item">
      <div class="ui icon input">
        <input type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="item">
      <i class="settings large icon"></i>
    </div>
    <div {{action "signOut"}} class="item">
      Sign Out &nbsp;	<i class="sign out large icon"></i>
    </div>
  </div>

<!-- if not logged in -->
{{else}}
  <div class="ui inverted menu">
    <div id="sign-in-nav" class="item">
      About Us
    </div>
    <div class="item">
      Privacy Policy
    </div>
  </div>
{{/if}}


<img id="triangle" src="/assets/images/triangle.png">

<div class="container">
  {{outlet}}
</div>

  {{#if session.isAuthenticated}}
    <footer class="footer">
      <h6>About Us | Privacy Policy</h6>
      <h6>&copy; 2016 pdxBranch</h6>
    </footer>
  {{/if}}
