<header id="header">
  {{#link-to 'members'}}<img id="logo" src="/assets/images/logo-blue.png">{{/link-to}}
</header>

<div class="ui inverted menu">
  <div id="sign-in-nav" class="item">
    Sign In
  </div>
  <div class="item">
    Search
  </div>
  <div class="item">
    <i {{action "signOut"}} class="sign out large icon"></i>
  </div>
</div>

<img id="triangle" src="/assets/images/triangle.png">

<div class="container">
  {{outlet}}
</div>

<footer id="footer">
  <h6>&copy; 2016 pdxBranch</h6>
</footer>
