<header id="header">
  <h3>{{#link-to 'index'}}<img id="logo" src="/assets/images/logo-white.png">{{/link-to}}</h3>
</header>

<div class="container">
  {{outlet}}
</div>

<footer id="footer">
  <hr>
  <h6>&copy; 2016 pdxBranch</h6>
</footer>
