<div class="container">
  <header id="header">
    <h3>{{#link-to 'index'}}<img id="logo" src="/assets/images/logo.png">{{/link-to}}</h3>
    <hr>
  </header>

  {{outlet}}

  <footer id="footer">
    <hr>
    <h6>&copy; 2016 pdxBranch</h6>
  </footer>
</div>
