{{members-list members=model.members member=model.member addFriend="addFriend" removeFriend="removeFriend" sendFriendRequest="sendFriendRequest"}}

<div class="well">
  <h3>Upload photos</h3>
  {{input type="file" value=imageToUpload id="imageToUpload"}}
  <button {{action "uploadImage" model.member}} class="ui button"><i class='external icon'></i>Upload</button>
</div>
<!-- <img src="gs://branch-social.appspot.com/images/chris.png"> -->
