{{members-list members=model.members member=model.member addFriend="addFriend" removeFriend="removeFriend" sendFriendRequest="sendFriendRequest"}}
{{input type="file" value=imageToUpload id="imageToUpload"}}
 <button {{action "uploadImage"}}>UPLOAD</button>
